<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Antonio Augello">

  <title>Antonio Augello Resume</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/resume.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Antonio Augello</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/img_profile.jpg" alt="Profile Image">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Hobbies</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <!-- Header -->
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Antonio
          <span class="text-primary">Augello</span>
        </h1>
        <div class="subheading mb-5">62 Fisherman's Quay, Grove Island, Co. Limerick · (+353) 85285293 ·
          <a href="mailto:name@email.com">toni.gello94@gmail.com</a>
        </div>
        <p class="lead mb-5">Working as a Nurse, currently studying at Code Institute to be a Full Stack Software Web Developer, passionate about Web Software Development and UX/UI. Photographer as hobbyist with Knowledge of Adobe Photoshop and Adobe Lightroom. My actual
          goal is to be a Full Stack Wed Developer following my passion that i grow since I was a kid</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/antonio-augello-aba83911a/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/gello94">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- /Header -->

    <hr class="m-0">

    <!-- Education Section -->
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Code Institute</h3>
            <div class="subheading mb-3">Full Stack Diploma in Software Development</div>
            <div>Modules: </div>
            <p>HTML Fundamentals ~ CSS Fundamentals~ JavaScript Fundamentals ~ Python Fundamentals ~Practical Python ~User Centric Frontend Development~ Interactive Centric Frontend Development </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">University of Studies "G. D'Annunzio" of Chieti</h3>
            <div class="subheading mb-3">Nursing Degree </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">September 2013 - July 2016</span>
          </div>
        </div>
      </div>
    </section>
    <!-- /Education Section -->

    <hr class="m-0">

    <!-- Experience Section -->
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">HDU Staff Nurse </h3>
            <div class="subheading mb-3">High Dependency Unit - University Hospital Limerick </div>
            <div>Main Role and Responsibilities: </div>
            <ul>
              <li>Maintain the prepared standard protocol of asepsis strictly.</li>
              <li>Check all electrical points, pipe line 02, in built suckers for proper working condition. </li>
              <li>Communicate with concerned person for proper maintenance of unit. </li>
              <li>Prepare the drugs, crash trolley, etc. properly. </li>
              <li>Check Oxygen, Carbon dioxide, Nitrous Oxide etc. for proper use. </li>
              <li>Check monitor, ventilator, all life saving gadgets for proper working condition. </li>
              <li>Provide special care to the patient guided by the Medical Officer e.g. endo-trachial suction. </li>
            </ul>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2017 - January 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Orthopedic Staff Nurse </h3>
            <div class="subheading mb-3">Croom Hospital - University Hospital Limerick </div>
            <div>Main Role and Responsibilities: </div>
            <ul>
              <li>Manage post operative pain and surgical site.</li>
              <li>Assess patient's condition and monitor post-surgical recover. </li>
              <li>Implement post-surgical treatment plan and provide detailed report to medical/ nurse for patient transfer/admission. </li>
              <li>Identify/Initiate emergent situations and procedures. </li>
              <li>Provide patient care according to the hospital processes, policies and procedures. </li>
              <li> Recognize clinical abnormalities then communicated with anesthesiologist in reference to diagnosing and treating of clinical problems. </li>
              <li> Ensure care provided is in accordance with standards established by the HSE, NMBI, HIQA, and other regulatory agencies. </li>
              <li>Provide acute care for post-operative patients recovering from anesthesia in POCU.</li>
              <li>Educate and support patient and family on care of patient.</li>
            </ul>

          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">January 2019 - Present</span>
          </div>
        </div>

      </div>

    </section>
    <!-- /Experience Section -->

    <hr class="m-0">

    <!-- Portfolio Section -->
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="portfolio">
      <div class="w-100">
        <h2 class="mb-5">Portfolio</h2>

        <!-- Portfolio Grid Items -->
        <div class="row">

          <!--Portfolio 1-->
          <div class="portfolio-section">
            <div class="col-12">
              <div class="row">
                <div class="col-xs-12 col-md-5">
                  <div class="portfolio-head">
                    <h3><a href="https://gello94.github.io/first-milestone-antonio/" target="_blank">Augello PhotoWorld</a></h3>
                  </div>
                  <div class="info_project">
                    <p>Full info on the <a href="https://github.com/gello94/first-milestone-antonio">GitHub's Project Repository</a></p>
                    <p>This Website was developed for Code Institute's User Centic Front End Development Project 1 and is an advertising website of myself as photographer to promote my photography services. It's a five pages responsive website, each area
                      is build to made easily the navigation trough the contents and to give all the info needed to the customers interested to have photography services.
                    </p>
                    <div class="list_technologies">
                      <div>Technologies used:</div>
                      <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>JQuery</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-7">
                  <div class="Portfolio-body">
                    <img class="img-fluid img_portfolio" src="static/img/project1.jpg" alt="Project 1">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="m-0">

          <!--Portfolio 2-->
          <div class="portfolio-section">
            <div class="col-12">
              <div class="row">
                <div class="col-xs-12 col-md-5">
                  <div class="portfolio-head">
                    <h3><a href="https://gello94.github.io/second-milestone-antonio/" target="_blank">#HELPYOURBRAIN</a></h3>
                  </div>
                  <div class="info_project">
                    <p>Full info on the <a href="https://github.com/gello94/second-milestone-antonio">GitHub's Project Repository</a></p>
                    <p>This Website was developed for Code Institute's Interactive Front End Development Project 2. #HelpYourBrain born as a multi level memory game for people of all the ages. The scope of this game is to match cards with the same image,
                      helping people the challenge their memory.</p>
                    <div class="list_technologies">
                      <div>Technologies used:</div>
                      <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-7">
                  <div class="Portfolio-body">
                    <img class="img-fluid img_portfolio" src="static/img/project2.jpg" alt="Project 1">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- /.row -->

        </div>
    </section>


    <!-- Skills Section -->
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <table class="table">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>HTML/HTML5</td>
              <td>CSS/CSS3</td>
              <td>SASS/SASS</td>
            </tr>
            <tr>
              <td>JavaScript</td>
              <td>jQuery</td>
              <td>Python</td>
            </tr>
            <tr>
              <td>MongoDB</td>
              <td>SQL/MySQL</td>
              <td>JSON</td>
            </tr>
            <tr>
              <td>Git</td>
              <td>GitHub</td>
              <td>API</td>
            </tr>
            <tr>
              <td>D3.js</td>
              <td>Django</td>
              <td>AWS Cloud9</td>
            </tr>
          </tbody>
        </table>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i> Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i> Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i> Use of Adobe Photoshop and Lightroom</li>
        </ul>
      </div>

    </section>

    <hr class="m-0">

    <!-- Hobbies Section -->
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Hobbies</h2>
        <div class="subheading mb-3"></div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-hiking"></i> Hiking
          </li>
          <li>
            <i class="fa-li fa fa-camera"></i> Photography
          </li>
          <li>
            <i class="fa-li fa fa-plane-departure"></i> Travel
          </li>
          <li>
            <i class="fa-li fa fa-dumbbell"></i> Gym </li>
        </ul>
      </div>
    </section>
    <!-- /Hobbies Section -->

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/resume.min.js')}}"></script>

</body>

</html>
